{% load static %}

<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}" type="text/css" />
    <title>Homepage</title>  
</head>  
<body>  

    <form action="action_page.php">
  <div class="container">
    <h1>General Patient Information</h1>
    <hr>

    <label for="email"><b>Patient Gender</b></label>
    <input type="text" name="email" id="email" required>

    <label for="email"><b>Patient Name</b></label>
    <input type="text"  required>
    <input type="text"  required>

    <label for="email"><b>Patient Birth Date</b></label>
    <input type="text"  required>
    <input type="text"  required>
    <input type="text"  required>

    <label for="email"><b>Patient Height (cm's)</b></label>
    <input type="text"  required>

    <label for="email"><b>Patient Weight (kg's)</b></label>
    <input type="text"  required>

  </div>

</form>

</body>  
</html>  